<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Steve Holt!</h1>
    <p>Welcome to what I'm calling you is a television actor.</p>
    <p>I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. Across from where?</p>
    <p>Michael! Now, when you do this without getting punched in the chest, you'll have more fun. Now, when you do this without getting punched in the chest, you'll have more fun. Did you enjoy your meal, Mom? You drank it fast enough.</p>
  </div>
</div>
